[Unit]
Description=Service for changing Discord bot avatar
After=network-online.target

[Service]
Type=oneshot

# Set working directory
WorkingDirectory=/usr/local/bin/discac
ExecStart=/usr/local/bin/discac/discac %i
Environment=DISCAC_PROFILES_DIR=/usr/local/bin/discac/profiles

# Sandboxing
PrivateTmp=yes
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
PrivateDevices=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
MemoryDenyWriteExecute=yes
