---
name: CI

permissions:
    actions: write
    checks: write
    contents: write
    id-token: write
    pull-requests: write
    security-events: write
    statuses: write

on:
    push:
        branches: [master]

    pull_request:
        branches: [master]

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Setup rust
              uses: ./.github/actions/setup-rust
              with:
                  toolchain: stable
                  should-cache-be-loaded: true

            - name: Build and test publish script
              run: ./scripts/publish-x86-64-Linux.sh
              shell: bash

    clippy:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Setup rust
              uses: ./.github/actions/setup-rust
              with:
                  toolchain: stable
                  components: clippy
                  should-cache-be-loaded: true

            - name: Run Clippy
              run: cargo clippy --all-targets --all-features

    format:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Setup rust
              uses: ./.github/actions/setup-rust
              with:
                  toolchain: stable
                  components: rustfmt
                  should-cache-be-loaded: false

            - name: Run rustfmt
              run: cargo fmt --all -- --check
